<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <br>
        <a href="/">← Back To Home</a>
      <div class="card mt-4">
        <div class="card-body">
            {{#if user_name}}
                <div class="returning-user">
                    <p>Hi {{user_name}}! Welcome back!</p>
                </div>
            {{else}}
                <div class="new-user">
                    <p>Hi {{user_name}}!</p>
                </div>
            {{/if}}

            <a href="/survey"><button type="button" class="btn btn-primary float-right">Take Survey</button></a>
        </div>
      </div>
    </div>
  </div>
</div>