<!-- <h1>Test Page</h1> -->
<div id="surveyElement"></div>
{{!-- <div id="surveyResult"></div> --}}
<div>
    <ul>
        <li id="rname"></li>
        <li id="raddress"></li>
        <li id="rphone"></li>
    </ul>
</div>

<!-- Trigger/Open The Modal -->
<button id="myBtn" class="btn">Get Restaurants</button>

<!-- <button id="resetBtn" class="btn">Retake Survey</button> -->

<!-- Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">
            <h1 class="modal-title"><strong>Best Match</strong></h1>
        </div>
        <div class="modal-body">
            <h2 id="match-name"></h2>
            <img id="match-img" src="" alt="" height="200" width="200">
        </div>
    </div>

</div>