.list-group-item {
  line-height: 2.5;
}

/* INDEX.HANDLEBARS STYLING */
.index-body {
  background-image: url(../images/red.jpeg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Raleway;
  color: rgb(63, 63, 63);
}

.header {
  font-size: 4.5rem;
  padding-top: 2rem;
}

.sub-header {
  font-size: 1.3rem;
}

.entr-name {
  font-size: 1.4rem;
}

.user-info-form {
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
}

.first-container {
  background: rgba(255, 255, 255, 0.7);
  margin-top: 8rem;
  width: 51rem;
  border-radius: 1.5rem;
}


/* SECOND.HANDLEBARS STYLING */
.second-body {
  background-image: url(../images/fries.jpeg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Raleway;
}

.users-name {
  font-size: 3rem;
}

.second-container {
  background: rgba(255, 255, 255, 0.7);
  color: rgb(63, 63, 63);
  margin-top: 10rem;
  width: 52rem;
  padding-bottom: 3.5rem;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#go-to-survey {
  margin-right: 0.5rem;
}

/* survey results modal */
.modal-content {
  background: rgb(255, 255, 255);
  color: rgb(63, 63, 63);
  font-family: Raleway;
}

.survey-body {
  background-image: url(../images/yum.jpeg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#surveyElement {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1.5rem;
}

/* saved restaurants list styling */
.emojiclicked {
  background-color: rgba(207, 207, 207, 0.7);
  padding: 7px;
  border-radius: .5rem;
}

.rate-emojis {
  font-size: 1.4rem;
  margin-left: 5px;
}

#one {
  margin-left: 7rem;
}

 .list-group-item {
   font-size: 16px;
   width: 32rem;
   border-radius: .5rem;
   padding-top: .3px;
   padding-bottom: .3px;
 }

 .visited {
   font-size: 20px;
 }

 .not-saved {
   font-size: 20px;
 }


/* MEDIA QUERIES */
/* FIRST PAGE */
 @media screen and (max-width: 480px) {
  .index-body {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .first-container {
    width: 30rem;
  }

  .header {
    font-size: 3.1rem;
    margin-bottom: 1.4rem;
  }

  .user-info-form {
    width: 25rem;
  }

  .sub-header {
    width: 26rem;
    margin-left: 1.6rem;
    font-size: 1.1rem;
  }

  .entr-name {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .first-container {
    width: 31rem;
  }

  .header {
    font-size: 3.1rem;
    margin-bottom: 1.4rem;
  }

  .sub-header {
    width: 26rem;
    margin-left: 1.6rem;
    font-size: 1.1rem;
  }

  .user-info-form {
    width: 25rem;
  }

  .entr-name {
    font-size: 1.2rem;
  }
}



/* SECOND PAGE */
@media screen and (max-width: 480px) {
  .second-container {
    width: 34rem;
  }

  .users-name {
    font-size: 2.1rem;
  }

  h6 {
    font-size: 1.4rem;
  }

  .list-group-item {
    width: 32rem;
    font-size: 1.3rem;
  }

  .rate-emojis {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .second-container {
    width: 40rem;
  }

  .list-group-item {
    font-size: 1.2rem;
  }
}

/* SURVEY PAGE */
@media screen and (max-width: 480px) {
  .survey-body {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
  }
}
